<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>OneStop</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/main.css' %}">
</head>

<body>

    <div class="wrapper">
        <div id="formContent" style="background-color: #2D2E2E;">

            <h2 class="active"> Sign In </h2>
            <h2 class="inactive underlineHover"> <a href="{% url 'register' %}"> Sign Up </a> </h2>

            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="100"
                    height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                    <path d="M20 12h-13l3 -3m0 6l-3 -3" />
                </svg>
            </div>

            <form class="login" method="post">
                {% load widget_tweaks %}
                {% csrf_token %}
                <span class="help-block">{{form.errors}}</span><br>
                {% render_field form.username type="text" class="underlineHover" id="login" name="login" placeholder="Username" %}
                {% render_field form.password type="password" class="underlineHover" id="password" name="password" placeholder="Password" %}
                <input type="submit" value="Log In">
            </form>

        </div>
    </div>

</body>


</html>