body{
  background-color: #020202;
  color: white;
}

h1{
    color: white;
    text-align: center;
}
h4{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}
label{
    font-size: 16px;
    font-weight: bold;
}
.navbar {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  color: black;
}
.nav-link {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Share', cursive;
}
a{
    font-size: 20px;
}
a:hover {
   color: #f7d794;
   text-decoration: none;
}

.jumbotron{
  background-color: #2D2D34;
}

input.form-control{
  background-color: #ccc8c8;
}

input.form-control:focus{
  background-color: #ccc8c8;
}
