{% extends 'base/based.html' %}
{% load static %}
{% block content %}

<style>
	label{
		color: #0DB8DE;
		font-weight: normal;
	}
</style>
		<div class="container" style="margin-top:20px">
			<form class="field_wrapper" id="studentForm" method="POST">
				<a href="{% url 'viewStudents' list.id %}" class="btn btn-outline-danger" style="margin-bottom:20px">Cancel</a>
				{% csrf_token %}

				{% if stu1st is not None %}
					{% for key, val in stu1st.items %}
					<div class="row">
						<div class="col">
							<div class="form-group">
								<label>Field name</label>
								<input type="text" name="field_name[]" value="{{ key }}" class="form-control" readonly/>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label>Field value</label>
								<input type="text" name="field_value[]" value="" class="form-control"/>
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
				<div class="row">
					<div class="col">
						<div class="form-group">
							<label>Field name</label>
							<input type="text" name="field_name[]" value="name" class="form-control" readonly/>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label>Field value</label>
							<input type="text" name="field_value[]" value="" class="form-control"/>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="btn-group" id="btn_grp">
					<a href="javascript:void(0);" class="btn btn-outline-primary" id="add_button" title="Add field">Add</a>&nbsp;
	      			<input class="btn btn-outline-success" type="submit" id="btnSubmit" value="Save"/> &nbsp;
					<input class="btn btn-outline-warning" id="btnAddAnother" value="Save & Add Another"/>
				</div>

			</form>
		</div>

		<script type="text/javascript">
		$.fn.formToJson=function(){form=$(this);var formArray=form.serializeArray(),jsonOutput={};return $.each(formArray,(function(i,element){var elemNameSplit=element.name.split("["),elemObjName="jsonOutput";$.each(elemNameSplit,(function(nameKey,value){nameKey!=elemNameSplit.length-1?(elemObjName="]"==value.slice(value.length-1)?"]"===value?elemObjName+"["+Object.keys(eval(elemObjName)).length+"]":elemObjName+"["+value:elemObjName+"."+value,void 0===eval(elemObjName)&&eval(elemObjName+" = {};")):"]"==value.slice(value.length-1)?"]"===value?eval(elemObjName+"["+Object.keys(eval(elemObjName)).length+"] = '"+element.value.replace("'","\\'")+"';"):eval(elemObjName+"["+value+" = '"+element.value.replace("'","\\'")+"';"):eval(elemObjName+"."+value+" = '"+element.value.replace("'","\\'")+"';")}))})),jsonOutput};


		$(document).ready(function(){

			var addButton = $('#add_button');
			var wrapper = $('#studentForm');
			var button_grp = $('#btn_grp');
			var fieldHTML = '<div class="row"><div class="col"><div class="form-group"><label>Field name</label><input type="text" name="field_name[]" value="" class="form-control"/></div></div><div class="col"><div class="form-group"><label>Field value</label><input type="text" name="field_value[]" value="" class="form-control"/></div></div>';

			$(addButton).click(function(){

					$(wrapper).append(fieldHTML);
					$(wrapper).append(button_grp);
			});
		});

		</script>
        <script>
			$("#btnSubmit").click(function(e) {
			    $("#btnSubmit").prop("disabled", true);
				$("#btnAddAnother").prop("disabled", true);
			    var json_obj=$('#studentForm').formToJson()
			    var json_send = {}
			    var count = Object.keys(json_obj).length;
			    var count = Object.keys(json_obj.field_name).length;
			    for(var i=0; i<count; i++){
			        json_send[json_obj.field_name[i]] = json_obj.field_value[i]
			    }

			    $.ajax({
			        type:'POST',
			        url:'{% url "addStudent" list.id%}',
			        data:{
			            json_sent:JSON.stringify(json_send),
			            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			            action: 'post',
			        },
			        success: function (data) {
			            console.log("SUCC");
			            window.location = '{% url "viewStudents" list.id %}'
			        },
			        error: function(data) {
			            console.log("ERR");
			        }
			    });
			    return false;
			});
			$("#btnAddAnother").click(function(e) {
			    $("#btnSubmit").prop("disabled", true);
				$("#btnAddAnother").prop("disabled", true);
			    var json_obj=$('#studentForm').formToJson()
			    var json_send = {}
			    var count = Object.keys(json_obj).length;
			    var count = Object.keys(json_obj.field_name).length;
			    for(var i=0; i<count; i++){
			        json_send[json_obj.field_name[i]] = json_obj.field_value[i]
			    }

			    $.ajax({
			        type:'POST',
			        url:'{% url "addStudent" list.id%}',
			        data:{
			            json_sent:JSON.stringify(json_send),
			            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			            action: 'post',
			        },
			        success: function (data) {
			            console.log("SUCC");
			            window.location = '{% url "addStudent" list.id %}'
			        },
			        error: function(data) {
			            console.log("ERR");
			        }
			    });
			    return false;
			});
		</script>

		{% endblock %}
