<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div>
            <a href="{% url 'index' %}">Event List</a>&raquo;<a>{{ event.name }}</a>
            <div>{{ event.to_json }}</div>
            <p>Student lists :</p>
            <ul>
                {% for student_list in event.student_lists %}
                    <li><a href="{% url 'viewStudents' student_list.id %}">{{ student_list.type }}</a></li>
                {% endfor %}
            </ul>
    </body>
</html>
