{% extends 'base/based.html' %}
{% block content %}
<style>
    ol{
        font-size: 2vh;
    }
    </style>
            <div>
            <br>

            <a href="{% url 'index' %}">Events List</a>
            <br>
            
            
            <ol>
                {%  for student in student_list.list %}
                    <li id="list">{{ student.to_json }}</li>
                {%  endfor  %}
            </ol>
            <a>{{ student_list.type }}</a>
            <br>
            <a href="{% url 'deleteStudentList' student_list.id %}">Delete student list</a>
        </div>
            
{% endblock %}
