{% extends 'base/based.html' %}
{% block content %}
<style>
    ol{
        font-size: 2vh;
    }
    </style>
            <div>
                <a>Back to Event view : <a href="{% url 'viewEvent' event.id %}">{{ event.name }}</a></a>
                <br>
                <a>Identifier : {{ student_list.type }}</a> <br>
                <a href="{% url 'deleteStudentList' student_list.id %}">Delete this list</a>
                <ol>
                    {%  for student in student_list.list %}
                        <li>
                            {% for key, value in student.to_mongo.to_dict.items%}
                                <ul>
                                    {% if key is "_id" %}
                                    <li>{{ key }} : {{ value }}</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </li>
                        <p></p>
                    {%  endfor  %}
                </ol>
        </div>
            
{% endblock %}
