{% extends 'base/based.html' %}
{% block content %}
<style>
	label{
		color: #0DB8DE;
		font-weight: normal;
        font-size: 14px;
	}
	</style>
	<div class="container">
		<form class="field_wrapper" id="eventForm" method="POST">
			{% csrf_token %}
            {% for key, value in event_dict.items%}
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label>Field name</label>
						<input type="text" name="field_name[]" value="{{ key }}" class="form-control"/>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label>Field value</label>
						<input type="text" name="field_value[]" value="{{ value }}" class="form-control"/>
					</div>
				</div>
			</div>
            {% endfor %}
			<a href="javascript:void(0);" class="btn btn-primary btn-outline" id="add_button" title="Add field" style="margin-right:10px"><strong>Add</strong></a>
			<input class="btn btn-success btn-outline" type="submit" id="btnSubmit"/>
		</form>
	</div>

	
	    <script>// https://github.com/HasanQQ/formToJson.git
			$.fn.formToJson=function(){form=$(this);var formArray=form.serializeArray(),jsonOutput={};return $.each(formArray,(function(i,element){var elemNameSplit=element.name.split("["),elemObjName="jsonOutput";$.each(elemNameSplit,(function(nameKey,value){nameKey!=elemNameSplit.length-1?(elemObjName="]"==value.slice(value.length-1)?"]"===value?elemObjName+"["+Object.keys(eval(elemObjName)).length+"]":elemObjName+"["+value:elemObjName+"."+value,void 0===eval(elemObjName)&&eval(elemObjName+" = {};")):"]"==value.slice(value.length-1)?"]"===value?eval(elemObjName+"["+Object.keys(eval(elemObjName)).length+"] = '"+element.value.replace("'","\\'")+"';"):eval(elemObjName+"["+value+" = '"+element.value.replace("'","\\'")+"';"):eval(elemObjName+"."+value+" = '"+element.value.replace("'","\\'")+"';")}))})),jsonOutput};
		</script>


	    <script type="text/javascript">
			$(document).ready(function(){
			    var addButton = $('#add_button');
			    var wrapper = $('#eventForm');
			    var submit_button = $('#btnSubmit');
			    var fieldHTML = '<div class="row"><div class="col"><div class="form-group"><label>Field name</label><input type="text" name="field_name[]" value="" class="form-control"/></div></div><div class="col"><div class="form-group"><label>Field value</label><input type="text" name="field_value[]" value="" class="form-control"/></div></div>';

			    $(addButton).click(function(){

                    $(wrapper).append(fieldHTML);
                    $(wrapper).append(addButton);
                    $(wrapper).append(submit_button);

			    });
			});


		    $("#eventForm").submit(function(e) {
				$("#btnSubmit").prop("disabled", true);
		    	var json_obj=$(this).formToJson()
		        var json_send = {}
		        var count = Object.keys(json_obj.field_name).length;
		      	for(var i=0; i<count; i++){
		        	json_send[json_obj.field_name[i]] = json_obj.field_value[i]
		        }

		        $.ajax({
			        type:'POST',
			        url:'{% url "updateEvent" event.id%}',
			        data:{
			            json_sent:JSON.stringify(json_send),
			            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
			            action: 'post',
			        },
                    success: function (data) {
                        console.log("SUCC");
                        window.location = '{% url "viewEvent" event.id %}'
                    },
                    error: function(data) {
                        console.log("ERR");
                    }
			    });
		        return false;
			});
		</script>

		{% endblock %}
