{% extends 'base/based.html' %}
{% load static %}
{% block content %}
<style>
	label{
		color: #0DB8DE;
		font-weight: normal;
        font-size: 14px;
	}
	</style>
	<div class="container" style="margin-top:20px">
		<form class="field_wrapper" id="eventForm" method="POST">
			<a href="{% url 'viewStudents' stulist.id %}" class="btn btn-outline-danger" style="margin-bottom: 20px">Cancel</a>
			{% csrf_token %}
            {% for key, value in stu_dict.items%}
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label>Field name</label>
						<input type="text" name="field_name[]" value="{{ key }}" class="form-control"/>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label>Field value</label>
						<input type="text" name="field_value[]" value="{{ value }}" class="form-control"/>
					</div>
				</div>
			</div>
            {% endfor %}
			<a href="javascript:void(0);" class="btn btn-outline-primary" id="add_button" title="Add field" style="margin-right:10px">Add</a>
			<input class="btn btn-outline-success" type="submit" id="btnSubmit"/>
		</form>
	</div>

    <script type="text/javascript" src={% static 'js/addEvent.js'%}></script>
    <script>

	    $("#eventForm").submit(function(e) {
			$("#btnSubmit").prop("disabled", true);
	    	var json_obj=$(this).formToJson()
	        var json_send = {}
	        var count = Object.keys(json_obj.field_name).length;
	      	for(var i=0; i<count; i++){
	        	json_send[json_obj.field_name[i]] = json_obj.field_value[i]
	        }

	        $.ajax({
		        type:'POST',
		        url:'{% url "updateStudent" stu.id%}',
		        data:{
		            json_sent:JSON.stringify(json_send),
		            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
		            action: 'post',
		        },
                success: function (data) {
                    console.log("SUCC");
                    window.location = '{% url "viewStudents" stulist.id %}'
                },
                error: function(data) {
                    console.log("ERR");
                }
		    });
	        return false;
		});
	</script>

{% endblock %}
